<!-- 
    需求: 长方体

 -->


<robot name="car">     

    <link name="wheel_att2">
           <visual>
                 <geometry>
                       <box size="0.04 0.04 0.03"/>
                 </geometry>
                 <origin xyz="0 0 .015"/>
                 <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>
     
     <link name="wheel_att3">
           <visual>
                 <geometry>
                       <box size="0.04 0.04 0.03"/>
                 </geometry>
                 <origin xyz="0 0 .015"/>
                 <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>

    <link name="base_link">
           <visual>
                 <geometry>
                       <box size="0.2 .3 .1"/>
                 </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.05"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
           </visual>   
           <inertial>
			    <origin rpy="0 0 0" xyz="0 0 0"/>
			    <mass value="8.2573504e-01"/>
			    <inertia ixx="2.2124416e-03" ixy="-1.2294101e-05" ixz="3.4938785e-05" iyy="2.1193702e-03" iyz="-5.0120904e-06" izz="2.0064271e-03"/>
			</inertial>  
     </link>
     
     <link name="wheel_att1">
           <visual>
                 <geometry>
                       <box size="0.04 0.04 0.03"/>
                 </geometry>
                 <origin xyz="0 0 .015"/>
                 <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>
     
     <joint name="wheel_to_att3" type="fixed">
           <parent link="wheel_3"/>
           <child link="wheel_att3"/>
           <origin rpy="0 0 0" xyz="0 0 0.025"/>
     </joint>
     
     <joint name="wheel_to_att4" type="fixed">
           <parent link="wheel_4"/>
           <child link="wheel_att4"/>
           <origin rpy="0 0 0" xyz="0 0 0.025"/>
     </joint>
     
     <link name="wheel_1">
           <visual>
                 <geometry>
                       <cylinder length="0.05" radius="0.05"/>
                 </geometry>
            <origin xyz="0 0 0"/>
               <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
     </link>

     <link name="wheel_2">
           <visual>
                 <geometry>
                       <cylinder length="0.05" radius="0.05"/>
                 </geometry>
            <origin xyz="0 0 0"/>
               <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>

     <link name="wheel_3">
           <visual>
                 <geometry>
                       <cylinder length="0.05" radius="0.05"/>
                 </geometry>
            <origin xyz="0 0 0"/>
               <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>

     <link name="wheel_4">
           <visual>
                 <geometry>
                       <cylinder length="0.05" radius="0.05"/>
                 </geometry>
            <origin xyz="0 0 0"/>
               <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>
     
     <joint name="base_to_wheel4" type="fixed">
           <parent link="base_link"/>
           <child link="wheel_4"/>
           <origin rpy="0 -1.5 0" xyz="-0.1 -0.1 0"/>
     </joint>
     
     <joint name="base_to_wheel1" type="fixed">
           <parent link="base_link"/>
           <child link="wheel_1"/>
           <origin rpy="0 1.5 0" xyz="0.1 0.1 0"/>
     </joint>

     <joint name="base_to_wheel2" type="fixed">
           <parent link="base_link"/>
           <child link="wheel_2"/>
           <origin rpy="0 -1.5 0" xyz="-0.1 0.1 0"/>
     </joint>

     <joint name="base_to_wheel3" type="fixed">
           <parent link="base_link"/>
           <child link="wheel_3"/>
           <origin rpy="0 1.5 0" xyz="0.1 -0.1 0"/>
     </joint>

             
     
     
     <link name="wheel_att4">
           <visual>
                 <geometry>
                       <box size="0.04 0.04 0.03"/>
                 </geometry>
                 <origin xyz="0 0 .015"/>
                 <material name="black">
		            <color rgba="0 0 0 1"/>
		        </material>
           </visual>
     </link>
     
     <joint name="wheel_to_att1" type="fixed">
           <parent link="wheel_1"/>
           <child link="wheel_att1"/>
           <origin rpy="0 0 0" xyz="0 0 0.025"/>
     </joint>
     
     <joint name="wheel_to_att2" type="fixed">
           <parent link="wheel_2"/>
           <child link="wheel_att2"/>
           <origin rpy="0 0 0" xyz="0 0 0.025"/>
     </joint>
     
     
     
</robot>


